<br />
<div class="entry">
  <div class="body-container">
      <p style="font-size: 22pt;text-align: center;" class="title">About Us</p>
  </div>
  <span class="desktop"><img src="/assets/images/about_header.jpg" class="about-header"/></span>
  <div style="padding: 30px;" class="about-us">
    <p> 
      <br />We are an international company first founded when Sam Aldis from the UK met his Japanese wife in Australia.
    </p>
    <p>
      <br />While the Company started as a travel photography company on social media as UKJP-Travel, 
      <br />It soon evolved to include Web Design, Software Development and Security.
    </p>
    <p>
      <br />We believe at being the best in our chosen field.
      <br />We strive for perfection and believe our results speak for themselves
      <br />
      <br />As a team we have over 17 years of experience in Software Development but that
      <br />Doesn't mean we've stopped learning, We always try to stay on the cutting edge of
      <br />Design, Best Practices, Tools and Libraries to give clients such as yourself
      <br />An edge over their competition.
    </p>
    <p>
      <br />We are also looking for talented people to come work for us, no matter where you are in the world,
      <br />We don't believe their are any borders to success!
    </p>
  </div>
  <br />  
</div>